:root {
    scroll-behavior: smooth;
  }

.body {
  background-color: rgba(0, 0, 0, 0); font-family: Gothic A1, sans-serif;
}

.section.wide.img { 
  height: 100vh;
  background-image:url('../images/Untitled-design.png');
  background-position: 50%;
  background-size: cover;
  padding-bottom: 10vh;
}

.section.wide.img { width: 100%;
margin-left: 0;
}

h2 {
color: #fff;
margin-top: 20px; margin-bottom: 20px; font-size: 38px;
font-weight: 700;
line-height: 48px;
}

.form-3 {
text-align: center;
}

.columns {
margin-top: 45px;
}

.field-label {
color: #fff; font-size: 18px;
}

.input {
text-align: center;
border-top-right-radius: 3px;
border-bottom-left-radius: 0;
padding-left: 22px;
padding-right: 22px;
}