Flask==3.0.3
Flask-Cors==3.0.10
Flask-Session==0.8.0
upstash-redis==1.2.0
python-dotenv==1.0.1
requests==2.32.3
fuzzywuzzy==0.18.0
python-Levenshtein==0.26.1
rapidfuzz==3.12.1
sentry-sdk==2.20.0
google-search-results==2.4.2